---
http_interactions:
- request:
    method: get
    uri: https://registry.yarnpkg.com/babel/6.23.0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers: {}
    body:
      encoding: ASCII-8BIT
      string: '{"name":"babel","version":"6.23.0","description":"Turn ES6 code into
        readable vanilla ES5 with source maps","author":{"name":"Sebastian McKenzie","email":"sebmck@gmail.com"},"homepage":"https://babeljs.io/","license":"MIT","repository":{"type":"git","url":"https://github.com/babel/babel/tree/master/packages/babel"},"bin":{"babel":"./lib/cli.js","babel-node":"./lib/cli.js","babel-external-helpers":"./lib/cli.js"},"_id":"babel@6.23.0","scripts":{},"_shasum":"d0d1e7d803e974765beea3232d4e153c0efb90f4","_from":".","_npmVersion":"3.10.8","_nodeVersion":"6.9.1","_npmUser":{"name":"loganfsmyth","email":"loganfsmyth@gmail.com"},"dist":{"shasum":"d0d1e7d803e974765beea3232d4e153c0efb90f4","tarball":"https://registry.npmjs.org/babel/-/babel-6.23.0.tgz"},"maintainers":[{"name":"amasad","email":"amjad.masad@gmail.com"},{"name":"hzoo","email":"hi@henryzoo.com"},{"name":"jmm","email":"npm-public@jessemccarthy.net"},{"name":"loganfsmyth","email":"loganfsmyth@gmail.com"},{"name":"sebmck","email":"sebmck@gmail.com"},{"name":"thejameskyle","email":"me@thejameskyle.com"}],"_npmOperationalInternal":{"host":"packages-18-east.internal.npmjs.com","tmp":"tmp/babel-6.23.0.tgz_1487027070006_0.409561536507681"},"directories":{},"deprecated":"In
        6.x, the babel package has been deprecated in favor of babel-cli. Check https://opencollective.com/babel
        to support the Babel maintainers"}'
  recorded_at: Fri, 10 Apr 2020 22:04:25 GMT
[...]
