---
http_interactions:
- request:
    method: get
    uri: https://repo.packagist.org/p2/webmozart/assert.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '3363232'
      Cdn-Requestcountrycode:
      - US
      Etag:
      - '"6a301c68-4ed0"'
      Last-Modified:
      - Mon, 15 Jun 2026 15:38:16 GMT
      Cdn-Storageserver:
      - WA-407
      Cdn-Fileserver:
      - '407'
      Cdn-Proxyver:
      - '1.58'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/29/2026 02:02:11
      Cdn-Edgestorageid:
      - '941'
      Cdn-Requestid:
      - 8633c8b812efa5b0def42c18f7507532
      Cdn-Cache:
      - HIT
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"minified":"composer/2.0","packages":{"webmozart/assert":[{"name":"webmozart/assert","description":"Assertions
        to validate method input/output with nice error messages.","keywords":["check","assert","validate"],"homepage":"","version":"2.4.1","version_normalized":"2.4.1.0","license":["MIT"],"authors":[{"name":"Bernhard
        Schussek","email":"bschussek@gmail.com"},{"name":"Woody Gilk","email":"woody.gilk@gmail.com"}],"source":{"url":"https://github.com/webmozarts/assert.git","type":"git","reference":"2ccb7c2e821038c03a3e6e1700c570c158c55f70"},"dist":{"url":"https://api.github.com/repos/webmozarts/assert/zipball/2ccb7c2e821038c03a3e6e1700c570c158c55f70","type":"zip","shasum":"","reference":"2ccb7c2e821038c03a3e6e1700c570c158c55f70"},"type":"library","support":{"issues":"https://github.com/webmozarts/assert/issues","source":"https://github.com/webmozarts/assert/tree/2.4.1"},"funding":[],"time":"2026-06-15T15:31:57+00:00","published-time":"2026-06-15T15:38:13+00:00","autoload":{"psr-4":{"Webmozart\\Assert\\":"src/"}},"extra":{"psalm":{"pluginClass":"Webmozart\\Assert\\PsalmPlugin"},"branch-alias":{"dev-master":"2.0-dev","dev-feature/2-0":"2.0-dev"}},"require":{"php":"^8.2","ext-ctype":"*","ext-date":"*","ext-filter":"*"},"suggest":{"ext-intl":"","ext-simplexml":"","ext-spl":""}},{"version":"2.4.0","version_normalized":"2.4.0.0","source":{"url":"https://github.com/webmozarts/assert.git","type":"git","reference":"9007ea6f45ecf352a9422b36644e4bfc039b9155"},"dist":{"url":"https://api.github.com/repos/webmozarts/assert/zipball/9007ea6f45ecf352a9422b36644e4bfc039b9155","type":"zip","shasum":"","reference":"9007ea6f45ecf352a9422b36644e4bfc039b9155"},"support":{"issues":"https://github.com/webmozarts/assert/issues","source":"https://github.com/webmozarts/assert/tree/2.4.0"[...]
