---
http_interactions:
- request:
    method: get
    uri: https://repo.packagist.org/p/webmozart/assert.json
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"packages":{"webmozart/assert":{"1.0.0":{"name":"webmozart/assert","description":"Efficient
        assertions to validate the input/output of your methods.","keywords":["check","assert","validate"],"homepage":"","version":"1.0.0","version_normalized":"1.0.0.0","license":["MIT"],"authors":[{"name":"Bernhard
        Schussek","email":"bschussek@gmail.com"}],"source":{"type":"git","url":"https://github.com/webmozart/assert.git","reference":"3371442b05531d8490d0b51b90b55e61948b0f10"},"dist":{"type":"zip","url":"https://api.github.com/repos/webmozart/assert/zipball/3371442b05531d8490d0b51b90b55e61948b0f10","reference":"3371442b05531d8490d0b51b90b55e61948b0f10","shasum":""},"type":"library","time":"2015-05-12T12:40:29+00:00","autoload":{"psr-4":{"Webmozart\\Assert\\":"src/"}},"extra":{"branch-alias":{"dev-master":"2.0-dev"}},"require":{"php":">=5.3.9"},"uid":404301},"1.0.0-beta":{"name":"webmozart/assert","description":"Efficient
        assertions to validate the input/output of your methods.","keywords":["check","assert","validate"],"homepage":"","version":"1.0.0-beta","version_normalized":"1.0.0.0-beta","license":["MIT"],"authors":[{"name":"Bernhard
        Schussek","email":"bschussek@gmail.com"}],"source":{"type":"git","url":"https://github.com/webmozart/assert.git","reference":"e0014a40f6a152293ee63d97b59d52e78ce7e098"},"dist":{"type":"zip","u[...]
