---
http_interactions:
- request:
    method: get
    uri: https://repo.packagist.org/p2/symfony/polyfill-ctype.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '3363232'
      Cdn-Requestcountrycode:
      - US
      Etag:
      - '"6a3e9571-42e4"'
      Last-Modified:
      - Fri, 26 Jun 2026 15:06:25 GMT
      Cdn-Storageserver:
      - WA-626
      Cdn-Fileserver:
      - '407'
      Cdn-Proxyver:
      - '1.58'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/29/2026 02:02:11
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Requestid:
      - 5d99be00386fd6f5a6f662b903af0880
      Cdn-Cache:
      - HIT
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"minified":"composer/2.0","packages":{"symfony/polyfill-ctype":[{"name":"symfony/polyfill-ctype","description":"Symfony
        polyfill for ctype functions","keywords":["compatibility","portable","polyfill","ctype"],"homepage":"https://symfony.com","version":"v1.37.0","version_normalized":"1.37.0.0","license":["MIT"],"authors":[{"name":"Gert
        de Pagter","email":"BackEndTea@gmail.com"},{"name":"Symfony Community","homepage":"https://symfony.com/contributors"}],"source":{"url":"https://github.com/symfony/polyfill-ctype.git","type":"git","reference":"141046a8f9477948ff284fa65be2095baafb94f2"},"dist":{"url":"https://api.github.com/repos/symfony/polyfill-ctype/zipball/141046a8f9477948ff284fa65be2095baafb94f2","type":"zip","shasum":"","reference":"141046a8f9477948ff284fa65be2095baafb94f2"},"type":"library","support":{"source":"https://github.com/symfony/polyfill-ctype/tree/v1.37.0"},"funding":[{"url":"https://symfony.com/sponsor","type":"custom"},{"url":"https://github.com/fabpot","type":"github"},{"url":"https://github.com/nicolas-grekas","type":"github"},{"url":"https://tidelift.com/funding/github/packagist/symfony/symfony","type":"tidelift"}],"time":"2026-04-10T16:19:22+00:00","published-time":"2026-04-26T14:44:50+00:00","autoload":{"files":["bootstrap.php"],"psr-4":{"Symfony\\Polyfill\\Ctype\\":""}},"extra":{"thanks":{"url":"https://github.com/symfony/polyfill","name":"symfony/polyfill"}},"require":{"php":">=7.2"},"suggest":{"ext-ctype":"For
        best performance"},"provide":{"ext-ctype":"*"}},{"version":"v1.36.0","version_normalized":"1.36.0.0","support":{"source":"https://github.com/symfony/polyfill-ctype/tree/v1.36.0"},"published-time":"2026-04-15T15:28:59+00:00"},{"version":"v1.35.0","version_normalized":"1.35.0.0","support":{"source":"https://github.com/symfony/polyfill-ctype/tree/v1.35.0"},"published-time":"2026-04-14T09:00:08+00:00"},{"version":"v1.34.0","version_normalized":"1.34.0.0","support":{"source":"https://github.com/symfony/polyfill-ctype/tree/v1.34.[...]
