---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3-flatcontainer/jive/0.1.0/jive.nuspec
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <package xmlns="http://schemas.microsoft.com/packaging/2012/06/nuspec.xsd">
          <metadata>
            <id>jive</id>
            <version>0.1.0</version>
            <authors>mo khan</authors>
            <owners>mo khan</owners>
            <requireLicenseAcceptance>false</requireLicenseAcceptance>
            <license type="expression">MIT</license>
            <licenseUrl>https://licenses.nuget.org/MIT</licenseUrl>
            <description>Add a little jive talk to your csharp.</description>
            <repository url="https://github.com/mokhan/jive.net" />
            <dependencies>
              <group targetFramework=".NETCoreApp3.0" />
            </dependencies>
          </metadata>
        </package>
  recorded_at: Thu, 30 Jan 2020 18:01:14 GMT
recorded_with: VCR 5.0.0
