---
http_interactions:
- request:
    method: get
    uri: https://registry.yarnpkg.com/ms/2.0.0
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ms","version":"2.0.0","description":"Tiny milisecond conversion
        utility","repository":{"type":"git","url":"git+https://github.com/zeit/ms.git"},"main":"./index","files":["index.js"],"scripts":{"precommit":"lint-staged","lint":"eslint
        lib/* bin/*","test":"mocha tests.js"},"eslintConfig":{"extends":"eslint:recommended","env":{"node":true,"es6":true}},"lint-staged":{"*.js":["npm
        run lint","prettier --single-quote --write","git add"]},"license":"MIT","devDependencies":{"eslint":"3.19.0","expect.js":"0.3.1","husky":"0.13.3","lint-staged":"3.4.1","mocha":"3.4.1"},"gitHead":"9b88d1568a52ec9bb67ecc8d2aa224fa38fd41f4","bugs":{"url":"https://github.com/zeit/ms/issues"},"homepage":"https://github.com/zeit/ms#readme","_id":"ms@2.0.0","_shasum":"5608aeadfc00be6c2901df5f9861788de0d597c8","_from":".","_npmVersion":"4.2.0","_nodeVersion":"7.8.0","_npmUser":{"name":"leo","email":"leo@zeit.co"},"dist":{"shasum":"5608aeadfc00be6c2901df5f9861788de0d597c8","tarball":"https://registry.npmjs.org/ms/-/ms-2.0.0.tgz"},"maintainers":[{"name":"leo","email":"leo@zeit.co"},{"name":"rauchg","email":"rauchg@gmail.com"}],"_npmOperationalInternal":{"host":"packages-18-east.internal.npmjs.com","tmp":"tmp/ms-2.0.0.tgz_1494937565215_0.34005374647676945"},"directories":{}}'
  recorded_at: Fri, 10 Apr 2020 21:30:30 GMT
recorded_with: VCR 5.1.0
