---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3-flatcontainer/jive/0.1.0/jive.nuspec
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - KfP9avCHMzm3DGzzeATUDg==
      Content-Type:
      - text/xml
      Etag:
      - '0x8D755E09BEB398A'
      Last-Modified:
      - Mon, 21 Oct 2019 04:39:07 GMT
      X-Cdn-Rewrite:
      - Root path in dist
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Version:
      - '2009-09-19'
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <package xmlns="http://schemas.microsoft.com/packaging/2012/06/nuspec.xsd">
          <metadata>
            <id>jive</id>
            <version>0.1.0</version>
            <authors>mo khan</authors>
            <owners>mo khan</owners>
            <requireLicenseAcceptance>false</requireLicenseAcceptance>
            <license type="expression">MIT</license>
            <licenseUrl>https://licenses.nuget.org/MIT</licenseUrl>
            <description>Add a little jive talk to your csharp.</description>
            <repository url="https://github.com/mokhan/jive.net" />
            <dependencies>
              <group targetFramework=".NETCoreApp3.0" />
            </dependencies>
          </metadata>
        </package>
  recorded_at: Fri, 03 Jul 2020 01:21:25 GMT
recorded_with: VCR 6.0.0
