---
http_interactions:
- request:
    method: get
    uri: https://registry.yarnpkg.com/cookie-signature/1.0.6
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"name":"cookie-signature","version":"1.0.6","description":"Sign and
        unsign cookies","keywords":["cookie","sign","unsign"],"author":{"name":"TJ
        Holowaychuk","email":"tj@learnboost.com"},"license":"MIT","repository":{"type":"git","url":"https://github.com/visionmedia/node-cookie-signature.git"},"dependencies":{},"devDependencies":{"mocha":"*","should":"*"},"scripts":{"test":"mocha
        --require should --reporter spec"},"main":"index","gitHead":"391b56cf44d88c493491b7e3fc53208cfb976d2a","bugs":{"url":"https://github.com/visionmedia/node-cookie-signature/issues"},"homepage":"https://github.com/visionmedia/node-cookie-signature","_id":"cookie-signature@1.0.6","_shasum":"e303a882b342cc3ee8ca513a79999734dab3ae2c","_from":".","_npmVersion":"2.3.0","_nodeVersion":"0.10.36","_npmUser":{"name":"natevw","email":"natevw@yahoo.com"},"maintainers":[{"name":"tjholowaychuk","email":"tj@vision-media.ca"},{"name":"natevw","email":"natevw@yahoo.com"}],"dist":{"shasum":"e303a882b342cc3ee8ca513a79999734dab3ae2c","tarball":"https://registry.npmjs.org/cookie-signature/-/cookie-signature-1.0.6.tgz"},"directories":{}}'
  recorded_at: Fri, 10 Apr 2020 21:22:58 GMT
recorded_with: VCR 5.1.0
