---
http_interactions:
- request:
    method: get
    uri: https://registry.yarnpkg.com/methods/1.1.2
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"name":"methods","description":"HTTP methods that node supports","version":"1.1.2","contributors":[{"name":"Douglas
        Christopher Wilson","email":"doug@somethingdoug.com"},{"name":"Jonathan Ong","email":"me@jongleberry.com","url":"http://jongleberry.com"},{"name":"TJ
        Holowaychuk","email":"tj@vision-media.ca","url":"http://tjholowaychuk.com"}],"license":"MIT","repository":{"type":"git","url":"https://github.com/jshttp/methods"},"devDependencies":{"istanbul":"0.4.1","mocha":"1.21.5"},"files":["index.js","HISTORY.md","LICENSE"],"engines":{"node":">=
        0.6"},"scripts":{"test":"mocha --reporter spec --bail --check-leaks test/","test-cov":"istanbul
        cover node_modules/mocha/bin/_mocha -- --reporter dot --check-leaks test/","test-travis":"istanbul
        cover node_modules/mocha/bin/_mocha --report lcovonly -- --reporter spec --check-leaks
        test/"},"browser":{"http":false},"keywords":["http","methods"],"gitHead":"25d257d913f1b94bd2d73581521ff72c81469140","bugs":{"url":"https://github.com/jshttp/methods/issues"},"homepage":"https://github.com/jshttp/methods","_id":"methods@1.1.2","_shasum":"5529a4d67654134edcc5266656835b0f851afcee","_from":".","_npmVersion":"1.4.28","_npmUser":{"name":"dougwilson","email":"doug@somethingdoug.com"},"maintainers":[{"name":"tjholowaychuk","email":"tj@vision-media.ca"},{"name":"jonathanong","email":"jonathanrichardong@gmail.com"},{"name":"jongleberry","email":"jonathanrichardong@gmail.com"},{"name":"dougwilson","email":"doug@somethingdoug.com"}],"dist":{"shasum":"5529a4d67654134edcc5266656835b0f851afcee","tarball":"https://registry.npmjs.org/methods/-/methods-1.1.2.tgz"},"directories":{}}'
  recorded_at: Fri, 10 Apr 2020 21:23:00 GMT
recorded_with: VCR 5.1.0
