---
http_interactions:
- request:
    method: get
    uri: https://registry.yarnpkg.com/on-finished/2.3.0
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"name":"on-finished","description":"Execute a callback when a request
        closes, finishes, or errors","version":"2.3.0","contributors":[{"name":"Douglas
        Christopher Wilson","email":"doug@somethingdoug.com"},{"name":"Jonathan Ong","email":"me@jongleberry.com","url":"http://jongleberry.com"}],"license":"MIT","repository":{"type":"git","url":"https://github.com/jshttp/on-finished"},"dependencies":{"ee-first":"1.1.1"},"devDependencies":{"istanbul":"0.3.9","mocha":"2.2.5"},"engines":{"node":">=
        0.8"},"files":["HISTORY.md","LICENSE","index.js"],"scripts":{"test":"mocha
        --reporter spec --bail --check-leaks test/","test-cov":"istanbul cover node_modules/mocha/bin/_mocha
        -- --reporter dot --check-leaks test/","test-travis":"istanbul cover node_modules/mocha/bin/_mocha
        --report lcovonly -- --reporter spec --check-leaks test/"},"gitHead":"34babcb58126a416fcf5205768204f2e12699dda","bugs":{"url":"https://github.com/jshttp/on-finished/issues"},"homepage":"https://github.com/jshttp/on-finished","_id":"on-finished@2.3.0","_shasum":"20f1336481b083cd75337992a16971aa2d906947","_from":".","_npmVersion":"1.4.28","_npmUser":{"name":"dougwilson","email":"doug@somethingdoug.com"},"maintainers":[{"name":"dougwilson","email":"doug@somethingdoug.com"},{"name":"jongleberry","email":"jonathanrichardong@gmail.com"}],"dist":{"shasum":"20f1336481b083cd75337992a16971aa2d906947","tarball":"https://registry.npmjs.org/on-finished/-/on-finished-2.3.0.tgz"},"directories":{}}'
  recorded_at: Fri, 10 Apr 2020 21:23:00 GMT
recorded_with: VCR 5.1.0
