---
http_interactions:
- request:
    method: get
    uri: https://repo.packagist.org/p/doctrine/instantiator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 15 Jun 2020 18:53:02 GMT
      Etag:
      - '"5ee7c38e-798"'
    body:
      encoding: ASCII-8BIT
      string: '{"packages":{"doctrine/instantiator":{"1.0.0":{"name":"doctrine/instantiator","description":"A
        small, lightweight utility to instantiate objects in PHP without invoking
        their constructors","keywords":["constructor","instantiate"],"homepage":"https://github.com/doctrine/instantiator","version":"1.0.0","version_normalized":"1.0.0.0","license":["MIT"],"authors":[{"name":"Marco
        Pivetta","email":"ocramius@gmail.com","homepage":"http://ocramius.github.com/"}],"source":{"type":"git","url":"https://github.com/doctrine/instantiator.git","reference":"7547e2cc5d576f6997921b628eee421e739df806"},"dist":{"type":"zip","url":"https://api.github.com/repos/doctrine/instantiator/zipball/7547e2cc5d576f6997921b628eee421e739df806","reference":"7547e2cc5d576f6997921b628eee421e739df806","shasum":""},"type":"library","time":"2014-08-13T11:49:22+00:00","autoload":{"psr-0":{"Doctrine\\Instantiator\\":"src"}},"extra":{"branch-alias":{"dev-master":"1.0.x-dev"}},"require":{"php":"~5.3"},"require-dev":{"ext-phar":"*","ext-pdo":"*","phpunit/phpunit":"~4.0","squizlabs/php_codesniffer":"2.0.*@ALPHA","athletic/athletic":"~0.1.8"},"uid":216744},"1.0.1":{"name":"doctrine/instantiator","description":"A
        small, lightweight utility to instantiate objects in PHP without invoking
        their constructors","keywords":["constructor","instantiate"],"homepage":"https://github.com/doctrine/instantiator","version":"1.0.1","version_normalized":"1.0.1.0","license":["MIT"],"authors":[{"name":"Marco
        Pivetta","email":"ocramius@gmail.com","homepage":"http://ocramius.github.com/"}],"source":{"type":"git","url":"https://github.com[...]
