---
http_interactions:
- request:
    method: get
    uri: https://repo.packagist.org/p2/doctrine/instantiator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '3363232'
      Cdn-Requestcountrycode:
      - US
      Etag:
      - '"6a2c557c-2e9b"'
      Last-Modified:
      - Fri, 12 Jun 2026 18:52:44 GMT
      Cdn-Storageserver:
      - WA-626
      Cdn-Fileserver:
      - '407'
      Cdn-Proxyver:
      - '1.58'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/29/2026 02:02:10
      Cdn-Edgestorageid:
      - '1346'
      Cdn-Requestid:
      - 3769a87180becef709e9500dc1b0108c
      Cdn-Cache:
      - HIT
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"minified":"composer/2.0","packages":{"doctrine/instantiator":[{"name":"doctrine/instantiator","description":"A
        small, lightweight utility to instantiate objects in PHP without invoking
        their constructors","keywords":["constructor","instantiate"],"homepage":"https://www.doctrine-project.org/projects/instantiator.html","version":"2.1.0","version_normalized":"2.1.0.0","license":["MIT"],"authors":[{"name":"Marco
        Pivetta","email":"ocramius@gmail.com","homepage":"https://ocramius.github.io/"}],"source":{"url":"https://github.com/doctrine/instantiator.git","type":"git","reference":"23da848e1a2308728fe5fdddabf4be17ff9720c7"},"dist":{"url":"https://api.github.com/repos/doctrine/instantiator/zipball/23da848e1a2308728fe5fdddabf4be17ff9720c7","type":"zip","shasum":"","reference":"23da848e1a2308728fe5fdddabf4be17ff9720c7"},"type":"library","support":{"issues":"https://github.com/doctrine/instantiator/issues","source":"https://github.com/doctrine/instantiator/tree/2.1.0"},"funding":[{"url":"https://www.doctrine-project.org/sponsorship.html","type":"custom"},{"url":"https://www.patreon.com/phpdoctrine","type":"patreon"},{"url":"https://tidelift.com/funding/github/packagist/doctrine%2Finstantiator","type":"tidelift"}],"time":"2026-01-05T06:47:08+00:00","published-time":"2026-01-06T07:25:40+00:00","autoload":{"psr-4":{"Doctrine\\Instantiator\\":"src/Doctrine/Instantiator/"}},"require":{"php":"^8.4"},"require-dev":{"ext-phar":"*","ext-pdo":"*","doctrine/coding-standard":"^14","phpbench/phpbench":"^1.2","phpstan/phpstan":"^2.1","phpstan/phpstan-phpunit":"^2.0","phpunit/phpunit":"^10.5.58"}},{"version":"2.0.0","version_normalized":"2.0.0.0","source":{"url":"https://github.com/doctrine/instantiator.git","type":"git","reference":"c6222283fa3f4ac679f8b9ced9a4e23f163e80d0"},"dist":{"url":"https://api.github.com/repos/doctrine/instantiator/zipball/c6222283fa3f4ac679f8b9ced9a4e23f163e80d0","type":"zip","shasum":"","reference":"c6222283fa3[...]
