---
http_interactions:
- request:
    method: get
    uri: https://registry.yarnpkg.com/babel/6.23.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"babel","version":"6.23.0","description":"Turn ES6 code into
        readable vanilla ES5 with source maps","author":{"name":"Sebastian McKenzie","email":"sebmck@gmail.com"},"homepage":"https://babeljs.io/","license":"MIT","repository":{"type":"git","url":"https://github.com/babel/babel/tree/master/packages/babel"},"bin":{"babel":"./lib/cli.js","babel-node":"./lib/cli.js","babel-external-helpers":"./lib/cli.js"},"_id":"babel@6.23.0","scripts":{},"_shasum":"d0d1e7d803e974765beea3232d4e153c0efb90f4","_from":".","_npmVersion":"3.10.8","_nodeVersion":"6.9.1","_npmUser":{"name":"loganfsmyth","email":"loganfsmyth@gmail.com"},"dist":{"shasum":"d0d1e7d803e974765beea3232d4e153c0efb90f4","tarball":"https://registry.npmjs.org/babel/-/babel-6.23.0.tgz"},"maintainers":[{"name":"amasad","email":"amjad.masad@gmail.com"},{"name":"hzoo","email":"hi@henryzoo.com"},{"name":"jmm","email":"npm-public@jessemccarthy.net"},{"name":"loganfsmyth","email":"loganfsmyth@gmail.com"},{"name":"sebmck","email":"sebmck@gmail.com"},{"name":"thejameskyle","email":"me@thejameskyle.com"}],"_npmOperationalInternal":{"host":"packages-18-east.internal.npmjs.com","tmp":"tmp/babel-6.23.0.tgz_1487027070006_0.409561536507681"},"directories":{},"deprecated":"In
        6.x, the babel package has been deprecated in favor of babel-cli. Check https://opencollective.com/babel
        to support the Babel maintainers"}'
  recorded_at: Tue, 07 Apr 2020 03:53:42 GMT
- request:
    method: get
    uri: https://registry.yarnpkg.com/jquery/3.4.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"jquery","title":"jQuery","description":"JavaScript library
        for DOM operations","version":"3.4.0","main":"dist/jquery.js","homepage":"https://jquery.com","author":{"name":"JS
        Foundation and other contributors","url":"https://github.com/jquery/jquery/blob/3.4.0/AUTHORS.txt"},"repository":{"type":"git","url":"git+https://github.com/jquery/jquery.git"},"keywords":["jquery","javascript","browser","library"],"bugs":{"url":"https://github.com/jquery/jquery/issues"},"license":"MIT","dependencies":{},"devDependencies":{"@babel/core":"7.3.3","@babel/plugin-transform-for-of":"7.2.0","commitplease":"3.2.0","core-js":"2.6.5","eslint-config-jquery":"1.0.1","grunt":"1.0.3","grunt-babel":"8.0.0","grunt-cli":"1.3.2","grunt-compare-size":"0.4.2","grunt-contrib-uglify":"3.4.0","grunt-contrib-watch":"1.1.0","grunt-eslint":"21.0.0","grunt-git-authors":"3.2.0","grunt-jsonlint":"1.1.0","grunt-karma":"3.0.1","grunt-newer":"1.3.0","grunt-npmcopy":"0.1.0","gzip-js":"0.3.2","husky":"1.3.1","insight":"0.10.1","jsdom":"13.2.0","karma":"4.0.1","karma-browserstack-launcher":"1.4.0","karma-chrome-launcher":"2.2.0","karma-firefox-launcher":"1.1.0","karma-ie-launcher":"1.0.0","karma-jsdom-launcher":"7.1.0","karma-qunit":"3.0.0","load-grunt-tasks":"4.0.0","native-promise-only":"0.8.1","promises-aplus-tests":"2.1.2","q":"1.5.1","qunit":"2.9.2","raw-body":"2.3.3","requirejs":"2.3.6","sinon":"2.3.7","sizzle":"2.3.4","strip-json-comments":"2.0.1","testswarm":"1.1.0","uglify-js":"3.4.7"},"scripts":{"build":"npm
        install && grunt","start":"grunt watch","test:browserless":"grunt && grunt
        test:slow","test:browser":"grunt && grunt karma:main","test":"grunt && grunt
        test:slow && grunt karma:main","jenkins":"npm run test:browserless"},"commitplease":{"nohook":true,"components":["Docs","Tests","Build","Support","Release","Core","Ajax","Attributes","Callbacks","CSS","Data","Deferred","Deprecated","Dimensions","Effects","Event","Manipulation","Offset","Queue","Selector","Serialize","Traversing","Wrap"],"markerPattern":"^((clos|fix|resolv)(e[sd]|ing))|^(refs?)","ticketPattern":"^((Closes|Fixes)
        ([a-zA-Z]{2,}-)[0-9]+)|^(Refs? [^#])"},"husky":{"hooks":{"commit-msg":"node
        node_modules/commitplease","pre-commit":"grunt lint:newer qunit_fixture"}},"gitHead":"180c5c33e477463ed93a9d5f7ac7cad7c9809f1c","_id":"jquery@3.4.0","_npmVersion":"6.4.1","_nodeVersion":"8.15.1","_npmUser":{"name":"timmywil","email":"4timmywil@gmail.com"},"dist":{"integrity":"sha512-ggRCXln9zEqv6OqAGXFEcshF5dSBvCkzj6Gm2gzuR5fWawaX8t7cxKVkkygKODrDAzKdoYw3l/e3pm3vlT4IbQ==","shasum":"8de513fa0fa4b2c7d2e48a530e26f0596936efdf","tarball":"https://registry.npmjs.org/jquery/-/jquery-3.4.0.tgz","fileCount":125,"unpackedSize":1293692,"npm-signature":"-----BEGIN
        PGP SIGNATURE-----\r\nVersion: OpenPGP.js v3.0.4\r\nComment: https://openpgpjs.org\r\n\r\nwsFcBAEBCAAQBQJcrkmiCRA9TVsSAnZWagAA0FYP/3PRUJ9bvMXsEo01m0m0\n4/24H91hGidu20i5V2JNBhtlNttTH3NLlPYKGHO3wHFEA8iAKuiYyo/V5UlQ\nv4jUKqcFCtaz2pgdBICbAt0cNc1ZbRxXTL1ZI1HublxTkyx/d0kP0l001vYA\nIeLarSNrx4749LDHOeprO6TPoFeB+aCusWbLexcNs/Tel9Frn0oufEiDTjCI\nHAJHfjGDW8IZBw0fQaem7CxaUPiVFRUZghxYpM5ThGbGtxIsAiN9EQDpDmVC\nq855FOu7FsLviN20mJpJmq9ZuiGF9DoUA5QJIQ9INZBfd/uQ6TWRcqBqVtwH\nIgdfAVAACPBF+Zax3dy4cAOU+UHGqs/nStZ7wmewexsDdXb3PzkDvUxluzmL\nocg6y7gpp39Ev7qV+SNg7ZccgW/2rWHfy/l/Aofb0TFV53FCc3DEc9avzUkS\nPZE2jCTu3mUR1vpqr31R+AVo2ZMhTfcrGw2WwP1IDqc+Nt+7ySBiWVQHnT4a\nIjHALqztNKEkqFvxgm4VUkPgqqpFF4msCg5a8jwjJPiGKJgllv1clVwlFk77\nKQHztESClmebfruOidrX0qmBpixrraC2T401gZT9bV4qfqu6Td3q00TBkZjI\nKsiBfs6hq3Py3MOJt3S2xwx8smuhB7Q05e5TMficC0QMURF14U4Yi6WGJ5or\nBJa5\r\n=w1RE\r\n-----END
        PGP SIGNATURE-----\r\n"},"maintainers":[{"name":"dmethvin","email":"dave.methvin@gmail.com"},{"name":"mgol","email":"m.goleb@gmail.com"},{"name":"scott.gonzalez","email":"scott.gonzalez@gmail.com"},{"name":"timmywil","email":"4timmywil@gmail.com"}],"directories":{},"_npmOperationalInternal":{"host":"s3://npm-registry-packages","tmp":"tmp/jquery_3.4.0_1554925986191_0.6962955867267493"},"_hasShrinkwrap":false}'
  recorded_at: Tue, 07 Apr 2020 03:53:42 GMT
recorded_with: VCR 5.1.0
