---
http_interactions:
- request:
    method: get
    uri: https://repo.packagist.org/p2/phpdocumentor/reflection-common.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '3363232'
      Cdn-Requestcountrycode:
      - US
      Etag:
      - '"6a517460-19f9"'
      Last-Modified:
      - Fri, 10 Jul 2026 22:38:24 GMT
      Cdn-Storageserver:
      - WA-626
      Cdn-Fileserver:
      - '407'
      Cdn-Proxyver:
      - '1.58'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/29/2026 02:02:11
      Cdn-Edgestorageid:
      - '718'
      Cdn-Requestid:
      - 48b6bac297d12065d40c01da41e97979
      Cdn-Cache:
      - HIT
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"minified":"composer/2.0","packages":{"phpdocumentor/reflection-common":[{"name":"phpdocumentor/reflection-common","description":"Common
        reflection classes used by phpdocumentor to reflect the code structure","keywords":["phpdoc","reflection","static
        analysis","phpDocumentor","FQSEN"],"homepage":"http://www.phpdoc.org","version":"2.2.0","version_normalized":"2.2.0.0","license":["MIT"],"authors":[{"name":"Jaap
        van Otterdijk","email":"opensource@ijaap.nl"}],"source":{"url":"https://github.com/phpDocumentor/ReflectionCommon.git","type":"git","reference":"1d01c49d4ed62f25aa84a747ad35d5a16924662b"},"dist":{"url":"https://api.github.com/repos/phpDocumentor/ReflectionCommon/zipball/1d01c49d4ed62f25aa84a747ad35d5a16924662b","type":"zip","shasum":"","reference":"1d01c49d4ed62f25aa84a747ad35d5a16924662b"},"type":"library","support":{"issues":"https://github.com/phpDocumentor/ReflectionCommon/issues","source":"https://github.com/phpDocumentor/ReflectionCommon/tree/2.x"},"funding":[],"time":"2020-06-27T09:03:43+00:00","published-time":"2020-06-27T09:07:07+00:00","autoload":{"psr-4":{"phpDocumentor\\Reflection\\":"src/"}},"extra":{"branch-alias":{"dev-2.x":"2.x-dev"}},"require":{"php":"^7.2
        || ^8.0"}},{"version":"2.1.0","version_normalized":"2.1.0.0","source":{"url":"https://github.com/phpDocumentor/ReflectionCommon.git","type":"git","reference":"6568f4687e5b41b054365f9ae03fcb1ed5f2069b"},"dist":{"url":"https://api.github.com/repos/phpDocumentor/ReflectionCommon/zipball/6568f4687e5b41b054365f9ae03fcb1ed5f2069b","type":"zip","shasum":"","reference":"6568f4687e5b41b054365f9ae03fcb1ed5f2069b"},"support":{"issues":"https://github.com/phpDocumentor/ReflectionCommon/issues","source":"https://github.com/phpDocumentor/ReflectionCommon/tree/master"},"time":"2020-04-27T09:25:28+00:00","published-time":"2020-04-27T09:32:13+00:00","extra":{"branch-alias":{"dev-master":"2.x-dev"}},"require":{"php":">=7.1"}},{"version":"2.0.0","version_normalized":"2.0.0.0","source":{"url":"https://github.com/phpDocumentor/ReflectionCommon.git","type":"git","reference":"63a995caa1ca9e5590304cd845c15ad6d482a62a"},"dist":{"url":"https://api.github.com/repos/phpDocumentor/ReflectionCommon/zipball/63a995caa1ca9e5590304cd845c15ad6d482a62a","type":"zip","shasum":"","reference":"63a995caa1ca9e5590304cd845c15ad6d482a62a"},"support":{"issues":"https://github.com/phpDocumentor/ReflectionCommon/issues","source":"https://github.com/phpDocumentor/ReflectionCommon/tree/2.0.0"},"time":"2018-08-07T13:53:10+00:00","published-time":"2019-06-29T02:08:32+00:00","require-dev":{"phpunit/phpunit":"~6"},"funding":"__unset"},{"version":"2.0.0-beta1","version_normalized":"2.0.0.0-beta1","support":{"issues":"https://github.com/phpDocumentor/ReflectionCommon/issues","source":"https://github.com/phpDocumentor/ReflectionCommon/tree/master"},"published-time":"2018-08-08T12:29:38+00:00"},{"version":"2.0.0-alpha3","version_normalized":"2.0.0.0-alpha3","source":{"url":"https://github.com/phpDocumentor/ReflectionCommon.git","type":"git","reference":"eedd98e8bc9cfd924f056b4b5847066[...]
