---
http_interactions:
- request:
    method: get
    uri: https://repo.packagist.org/p2/phpdocumentor/type-resolver.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '3363232'
      Cdn-Requestcountrycode:
      - US
      Etag:
      - '"6a45cb3f-7727"'
      Last-Modified:
      - Thu, 02 Jul 2026 02:21:51 GMT
      Cdn-Storageserver:
      - WA-407
      Cdn-Fileserver:
      - '407'
      Cdn-Proxyver:
      - '1.58'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/29/2026 02:02:11
      Cdn-Edgestorageid:
      - '845'
      Cdn-Requestid:
      - df7b40e861c4293d3e2bbf85a60c9267
      Cdn-Cache:
      - HIT
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"minified":"composer/2.0","packages":{"phpdocumentor/type-resolver":[{"name":"phpdocumentor/type-resolver","description":"A
        PSR-5 based resolver of Class names, Types and Structural Element Names","keywords":[],"homepage":"","version":"2.0.0","version_normalized":"2.0.0.0","license":["MIT"],"authors":[{"name":"Mike
        van Riel","email":"me@mikevanriel.com"}],"source":{"url":"https://github.com/phpDocumentor/TypeResolver.git","type":"git","reference":"327a05bbee54120d4786a0dc67aad30226ad4cf9"},"dist":{"url":"https://api.github.com/repos/phpDocumentor/TypeResolver/zipball/327a05bbee54120d4786a0dc67aad30226ad4cf9","type":"zip","shasum":"","reference":"327a05bbee54120d4786a0dc67aad30226ad4cf9"},"type":"library","support":{"issues":"https://github.com/phpDocumentor/TypeResolver/issues","source":"https://github.com/phpDocumentor/TypeResolver/tree/2.0.0"},"funding":[],"time":"2026-01-06T21:53:42+00:00","published-time":"2026-01-06T22:00:35+00:00","autoload":{"psr-4":{"phpDocumentor\\Reflection\\":"src"}},"extra":{"branch-alias":{"dev-1.x":"1.x-dev","dev-2.x":"2.x-dev"}},"require":{"php":"^7.4
        || ^8.0","phpdocumentor/reflection-common":"^2.0","phpstan/phpdoc-parser":"^2.0","doctrine/deprecations":"^1.0"},"require-dev":{"ext-tokenizer":"*","phpunit/phpunit":"^9.5","phpstan/phpstan":"^2.1","phpstan/phpstan-phpunit":"^2.0","phpstan/extension-installer":"^1.4","phpbench/phpbench":"^1.2","psalm/phar":"^4"}},{"version":"1.12.0","version_normalized":"1.12.0.0","source":{"url":"https://github.com/phpDocumentor/TypeResolver.git","type":"git","reference":"92a98ada2b93d9b201a613cb5a33584dde25f195"},"dist":{"url":"https://api.github.com/repos/phpDocumentor/TypeResolver/zipball/92a98ada2b93d9b201a613cb5a33584dde25f195","type":"zip","shasu[...]
