---
http_interactions:
- request:
    method: get
    uri: https://repo.packagist.org/p/phpdocumentor/type-resolver.json
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"packages":{"phpdocumentor/type-resolver":{"0.1":{"name":"phpdocumentor/type-resolver","description":"","keywords":[],"homepage":"","version":"0.1","version_normalized":"0.1.0.0","license":["MIT"],"authors":[{"name":"Mike
        van Riel","email":"me@mikevanriel.com"}],"source":{"type":"git","url":"https://github.com/phpDocumentor/TypeResolver.git","reference":"e99540d3c74b6336923454da60054a2838ca78a3"},"dist":{"type":"zip","url":"https://api.github.com/repos/phpDocumentor/TypeResolver/zipball/e99540d3c74b6336923454da60054a2838ca78a3","reference":"e99540d3c74b6336923454da60054a2838ca78a3","shasum":""},"type":"library","time":"2015-06-12T18:03:13+00:00","autoload":{"psr-4":{"phpDocumentor\\Reflection\\":["src/"]}},"extra":{"branch-alias":{"dev-master":"1.0.x-dev"}},"require":{"php":">=5.5","phpdocumentor/reflection-common":"^0.1"},"require-dev":{"phpunit/phpunit":"^4.6","mockery/mockery":"^0.9.4"},"uid":432181},"0.1.1":{"name":"phpdocumentor/type-resolver","description":"","keywords":[],"homepage":"","version":"0.1.1","version_normalized":"0.1.1.0","license":["MIT"],"authors":[{"name":"Mike
        van Riel","email":"me@mikevanriel.com"}],"source":{"type":"git","url":"https://github.com/phpDocumentor/TypeResolver.git","reference":"2ac0adaea9697334b85b1622ce930014e6b02a11"},"dist":{"type":"zip","url":"https://api.github.com/repos/phpDocumentor/TypeResolver/zipball/2ac0adaea9697334b85b1622ce93001[...]
